---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  children: unknown;
}

const canonical = Astro.site
  ? new URL(`${Astro.url.pathname}${Astro.url.search}`, Astro.site)
  : undefined;

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <link rel="canonical" href={canonical} />
  </head>

  <body>
    <slot />
  </body>
</html>
